Plugins>Input-Output, "DCRaw Reader...", ij_plugins.dcraw.DCRawPlugin
Plugins>Input-Output, "DCRaw Identify...", ij_plugins.dcraw.RawIdentifyPlugin
Plugins>Input-Output, "DCRaw Unprocessed...", ij_plugins.dcraw.UnprocessedRawPlugin
Help>About Plugins, "About DCRaw Reader...", ij_plugins.dcraw.DCRawPlugin("about")
